<div ng-controller='ctrl' ng-init='init()'>
  <input type='number' ng-model='id'>
  <button ng-click='connect()'>connect</button>
  {{status}}
  <br>

  group
  <input type='text' ng-model='room'>
  <br>
  To
  <input type='number' ng-model='to'>
  <br>
  msg
  <input type='text' ng-model='msg'>
  <button ng-click='send()'>Send msg</button>
</div>